import /init.recovery.microtrust.rc

on early-fs
    start vold

on fs
    export ANDROID_ROOT /system_root

on boot
    start health-hal-2-0

    on boot
    wait /sbin/patchlevel_set

on init
    start patchlevel

on fs
    install_keyring

on fs
    start hwservicemanager
    start servicemanager

service patchlevel /sbin/patchlevel.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service teei_daemon /system_root/system/bin/teei_daemon
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service hwservicemanager /system_root/system/bin/hwservicemanager
    user root
    group root
    onrestart setprop hwservicemanager.ready false
    disabled
    seclabel u:r:recovery:s0

service servicemanager /system_root/system/bin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /system_root/system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

# keystore is started and stopped on demand by TWRP
service keystore /system_root/system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system_root/system/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /system_root/system/bin/android.hardware.keymaster@3.0-service
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /system_root/system/bin/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    class hal
    user system
    group system
    disabled
    seclabel u:r:recovery:s0

service capi-2-0 /system_root/system/bin/vendor.microtrust.hardware.capi@2.0-service
    class hal
    user system
    group system
    oneshot
    seclabel u:r:recovery:s0

service wait_for_keymaster /system_root/system/bin/wait_for_keymaster
    user root
    group root system
    priority -20
    ioprio rt 0
    seclabel u:r:recovery:s0

on property:crypto.ready=0
    stop teei_daemon
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop keymaster_attestation-1-1
    stop capi-2-0
    stop wait_for_keymaster
    stop hwservicemanager
    stop keystore
    stop servicemanager

on property:crypto.ready=1
    start teei_daemon

on property:vendor.sys.listeners.registered=true
    start hwservicemanager
    start keymaster-3-0
    start gatekeeper-1-0
    start servicemanager
    start keymaster_attestation-1-1
    start capi-2-0
    start wait_for_keymaster

