import /init.recovery.microtrust.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug mode=0755

on fs
    export ANDROID_ROOT /system_root

on early-fs
    start vold


on boot
    start health-hal-2-0

    on boot
    wait /sbin/patchlevel_set

on init
    start patchlevel

on fs
    install_keyring
    export LD_LIBRARY_PATH /system_root/vendor/lib64:/system_root/vendor/hw:/system_root/system/bin
    setprop crypto.ready 1

on fs
    start hwservicemanager
    start servicemanager

service patchlevel /sbin/patchlevel.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service capi-2-0 /system_root/vendor/bin/vendor.microtrust.hardware.capi@2.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service teei_daemon /sbin/teei_daemon
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service hidl_memory /sbin/android.hidl.allocator@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service hwservicemanager /sbin/hwservicemanager
    user root
    group root
    onrestart setprop hwservicemanager.ready false
    disabled
    seclabel u:r:recovery:s0

service servicemanager /sbin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /sbin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /sbin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system_root/vendor/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service attestation-1-1 /system_root/vendor/bin/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    class hal
    #user root
    #group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /sbin/android.hardware.keymaster@3.0-service
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0


on property:crypto.ready=0
    stop teei_daemon
    stop keymaster-4-0
    stop gatekeeper-1-0
    stop servicemanager

on property:crypto.ready=1
    start teei_daemon

on property:vendor.sys.listeners.registered=true
    start keymaster-4-0
    start gatekeeper-1-0
    start servicemanager

