on init
    start hwservicemanager
    start servicemanager
    install_keyring
on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    setprop crypto.ready 1

service capi-2-0 /sbin/vendor.microtrust.hardware.capi@2.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service hidl_memory /sbin/android.hidl.allocator@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service hwservicemanager /sbin/hwservicemanager
    user root
    group root
    onrestart setprop hwservicemanager.ready false
    disabled
    seclabel u:r:recovery:s0

service servicemanager /sbin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

on property:ro.crypto.state=encrypted
    start teei_daemon
    start keymaster-3-0

service keystore_auth /sbin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /sbin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /sbin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service attestation-1-1 /sbin/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    class hal
    #user root
    #group root
    disabled
    seclabel u:r:recovery:s0

on property:twrp.decrypt.done=true
    stop teei_daemon
    stop keymaster-3-0

service teei_daemon /sbin/teei_daemon
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keymaster-3-0 /sbin/android.hardware.keymaster@3.0-service
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0
