import /init.microtrust.rc


on init
    install_keyring
    installkey /data
    setprop crypto.ready 1

on fs
    export ANDROID_ROOT /system_root
    install_keyring
    installkey /data
    setprop crypto.ready 1

on fs
    start hwservicemanager
    start servicemanager


service capi-2-0 /vendor/bin/vendor.microtrust.hardware.capi@2.0-service
    user root
    group root
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /vendor/bin/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    user root
    group root
    seclabel u:r:recovery:s0

service hidl_memory /vendor/bin/android.hidl.allocator@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service hwservicemanager /sbin/hwservicemanager
    user root
    group root readproc
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /sbin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /sbin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /sbin/keystore /tmp/misc/keystore
    user root
    group root keystore drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /vendor/bin/android.hardware.keymaster@3.0-service
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service drm-hal-1-0 /vendor/bin/hw/android.hardware.drm@1.0-service
    user root
    group root drmrpc
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks
    seclabel u:r:recovery:s0

service drm-clearkey-hal-1-1 /vendor/bin/hw/android.hardware.drm@1.1-service.clearkey
    user root
    group root mediadrm
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start capi-2-0
    start hidl_memory
    start keymaster-3-0
    start gatekeeper-1-0
    start keymaster_attestation-1-1
    start drm-hal-1-0
    start drm-clearkey-hal-1-1

on property:ro.crypto.state=unsupported
    stop hidl_memory
    stop capi-2-0
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager
    stop keymaster_attestation-1-1
    stop drm-hal-1-0
    stop drm-clearkey-hal-1-1

on property:ro.crypto.state=unencrypted
    stop hidl_memory
    stop capi-2-0
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager
    stop keymaster_attestation-1-1
    stop drm-hal-1-0
    stop drm-clearkey-hal-1-1

on property:twrp.decrypt.done=true && property:twrp.all.users.decrypted=true
    stop hidl_memory
    stop capi-2-0
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager
    stop keymaster_attestation-1-1
    stop drm-hal-1-0
    stop drm-clearkey-hal-1-1

on property:vendor.sys.listeners.registered=true
    start keymaster-3-0
    start gatekeeper-1-0
    start servicemanager

on boot
    # Enable Power modes and set the CPU Freq Sampling rates
    write /proc/hps/enabled 0
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_min_freq 300000
    setprop recovery.perf.mode 0


on property:recovery.perf.mode=1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

on property:recovery.perf.mode=0
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 0
