import /init.recovery.microtrust.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on boot
    wait /sbin/patchlevel_set

on init
    start patchlevel

on init
    start vold
    install_keyring
    setprop crypto.ready 1

on fs
    start hwservicemanager
    start servicemanager

service patchlevel /sbin/patchlevel.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service hwservicemanager /sbin/hwservicemanager
    user root
    disabled
    group root readproc
    critical
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /sbin/servicemanager
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keystore_auth /sbin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service teei_daemon /sbin/teei_daemon
    class core
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /sbin/keystore /tmp/misc/keystore
    class main
    user root
    group root drmrpc readproc
    writepid /dev/cpuset/foreground/tasks
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /sbin/android.hardware.gatekeeper@1.0-service
    class hal
    user root
    group root
    seclabel u:r:recovery:s0

service capi-2-0 /sbin/vendor.microtrust.hardware.capi@2.0-service
    class hal
    user root
    group root
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /sbin/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /sbin/android.hardware.keymaster@3.0-service
    class early_hal
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
#   start teei_daemon
#   start capi-2.0
#   start hidl_memory
    start keymaster-3-0
    start gatekeeper-1-0
    start keymaster_attestation-1-1

on property:ro.crypto.state=unsupported
    stop keymaster-3-0
    stop gatekeeper-1-0
#   stop capi-2.0
#   stop hidl_memory
#   stop teei_daemon
    stop keymaster_attestation-1-1

on property:ro.crypto.state=unencrypted
    stop keymaster-3-0
    stop gatekeeper-1-0
#   stop capi-2.0
#   stop hidl_memory
#   stop teei_daemon
    stop keymaster_attestation-1-1

on property:twrp.decrypt.done=true
    stop keymaster-3-0
    stop gatekeeper-1-0
#   stop capi-2.0
#   stop hidl_memory
#   stop teei_daemon
    stop keymaster_attestation-1-1
